fastapi==0.115.0
uvicorn==0.30.0
SQLModel==0.0.22

# Auth dependencies (PINNED)
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

python-dotenv==1.0.1
fastapi
python-multipart
pytesseract
Pillow
scikit-learn
pandas
joblib
python-dotenv
reportlab
pydantic[email]
python-socketio
opencv-python-headless
gunicorn
psycopg2-binary
pdfplumber