fastapi
uvicorn[standard]
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pytesseract
Pillow
scikit-learn
pandas
joblib
python-dotenv
reportlab
pydantic[email]
python-socketio
opencv-python-headless
gunicorn
psycopg2-binary
pdfplumber